
.modal-footer .btn-primary {
    color: white;
    background-color: #51a351;
}

.modal-footer .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color:#fff;
	background-color:#387038;
}

.modal-footer .btn {
	color:#333;
	background-color:#f5f5f5;
	border:1px solid #bbb;
	border-bottom-color:#a2a2a2;
	border-radius:4px;
}

.modal-footer .btn:hover {
	color:#333;
	background-color:#e6e6e6;
*background-color:#d9d9d9;
}

.modal {
	position:fixed;
	top:70px;
	left:calc(50% - 360px/2);
	z-index:8010;
	width:360px;
	margin:0 0 0 0px;
	background-color:#fff;
	border:1px solid #999;
	border:1px solid rgba(0, 0, 0, 0.3);
*border:1px solid #999;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	outline:0;
	-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	background-clip:padding-box
}

.bootbox .modal-header{
	border-radius:6px !important;
}

.bootbox .modal-title{
    font-size: 11px !important;
    font-weight: inherit;
    line-height: 11px !important;
}