form #txtDCCNumCartao {
    background-image: url(../../img/card.png);
    background-position: 0px -114px;
    background-size: 100px 391px;
    background-repeat: no-repeat;
    padding-left: 54px;
}
form #txtDCCNumCartao.amex {
    background-position: 0px -59px;
}
form #txtDCCNumCartao.diners_club_carte_blanche {
    background-position: 0px -87px;
}
form #txtDCCNumCartao.diners_club_international {
    background-position: 0px -87px;
}
form #txtDCCNumCartao.visa_electron {
    background-position: 0px -186px;
}
form #txtDCCNumCartao.visa {
    background-position: 0px -150px;
}
form #txtDCCNumCartao.mastercard {
    background-position: 0px -223px;
}
form #txtDCCNumCartao.maestro {
    background-position: 0px -259px;
}
form #txtDCCNumCartao.banescard {
    background-position: 0px -355px;
}
form #txtDCCNumCartao.discover {
    background-position: 0px -295px;
}
form #txtDCCNumCartao.elo {
    background-position: 0px -30px;
}
form #txtDCCNumCartao.aura {
    background-position: 0px -1px;
}
form #txtDCCNumCartao.hiper {
    background-position: 0px -324px;
}