body {
	font-size: 10px;
	font-family: Tahoma;
}
table {
	width: 100%;
	max-width: 302px; /*302px = 8cm (Tamanho Bobina Bematech)*/
	font-size: 10px;
	font-family: Tahoma;
}
.emp {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px 5px 0px;
}
.end {
	text-align: center;
	padding: 5px 0px 5px 0px;
}
.doc {
	padding-top: 5px;
}
.lin {
	padding-top: 5px;
	border-bottom: 1px solid #000;
}
.spc {
	padding-bottom: 5px;
}
.grupo {
        padding: 3px 0px 3px 0px;
        background-color: #DDD;
        font-weight: bold;
}
.tit {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px 10px 0px;
}