@charset "utf-8";
/* CSS Document */

#bntOK {
	width: 80px;
	display: inline-block;
	float:left;
}
.textForm {
	font-size: 10px;
	font-family: "Segoe UI", arial, sans-serif;
}


.btnAzul 
{
	background-image:url(../img/bntAzul.jpg);
	color:#FFF;
	
}
