.myLegenda {
    width: 199px;
    line-height: 20px;
    background: #E9E9E9;
    border-right: 1px solid #FFF;
}
.myLegenda span {
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 4px 0 0 4px;
}
#tbReceita td, #tbResumo td, #tbRenovacao td, #tbFiltroAv td { padding: 5px; }
#tbResumo td:nth-child(3) { text-align: right; }
#tbReceita td:first-child, #tbReceita td:nth-child(7) { text-align: center; }

.mtStatus td, .mtModalid td, .mtResumoCx td { padding: 5px 0 !important; }
.mtStatus td:first-child, .mtModalid td:first-child, .mtResumoCx td:first-child { padding-left: 10px !important; font-weight: bold !important; }
.mtStatus td:first-child div, .mtModalid td:first-child div, .mtResumoCx td:first-child div { float: left; width: 12px; height: 12px; border-radius: 50%; }
.mtModalid td:last-child, .mtResumoCx td:nth-child(2), .mtResumoCx td:nth-child(3), .mtResumoCx td:nth-child(4), .mtResumoCx td:nth-child(5), .mtResumoCx td:nth-child(6) { padding-right: 10px !important; text-align: right !important; }

#rsResumoCx td, #rsResumoCx th { text-align: center; }
#chartdiv, #chartdiv2, #chartdiv3, #chartdiv4, #chartdiv7 { float: right; width: 199px; height: 222px; background: #E9E9E9; border: 1px solid #FFF; border-left: 0; }
#chartdiv8 { float: right; width: 199px; height: 223px; background: #E9E9E9; border: 1px solid #FFF; border-left: 0; }
#tablediv, #tablediv2, #tablediv3, #tablediv4, #tablediv7, #tablediv8, #tablediv9 { float: left; width: calc(100% - 200px); }
#chartdiv9 { width: 199px; height: 199px; margin: -10px; background: #F9F9F9; border: 1px solid #FFF; border-left: 1px solid #D8D8D8; }
@media screen and (min-width: 1200px) and (max-width: 1279px) {
    #chartdiv, #chartdiv2, #chartdiv3, #chartdiv4 { width: 149px; }
    #tablediv, #tablediv2, #tablediv3, #tablediv4 { width: calc(100% - 150px); }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    #chartdiv, #chartdiv2, #chartdiv3, #chartdiv4 { width: 99px; }
    #tablediv, #tablediv2, #tablediv3, #tablediv4 { width: calc(100% - 100px); }
}
.ms-container { margin-bottom: 0; }
.boxchart { margin-bottom: 5px; background: #FFF; }
.amcharts-chart-div a { font-size: 0 !important; }
th { border-top: 0 !important;  }
select { height: 27px; }
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-color: #999;
}

.mtStatus td:nth-child(2) { text-align: center; }
.mtStatus td:nth-child(3) { text-align: center; }
#tbListaDCC td { padding: 5px; }
#tbListaDCC td:nth-child(7) { text-align: right; }
#s2id_txtClienteDCC { width: calc(100% - 165px); }
#tab6 .mynewbox {
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    width: calc(49.5% - 2px);
    border: 1px solid #D8D8D8;
}
#tab6 .mynewtxt {
    color: #666;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    background: #E9E9E9;
    border: 1px solid #FFF;
    width: calc(100% - 22px);
}
#tab6 .mynewcnt {
    padding: 10px;
}
#tab8 .mynewbox {
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
}
#tab8 .mynewtxt {
    color: #666;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    background: #E9E9E9;
    border: 1px solid #FFF;
    width: calc(100% - 22px);
}
#tab8 .mynewcnt {
    padding: 10px;
}
#tab10 .mynewbox {
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
}
#tab10 .mynewtxt {
    color: #666;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    background: #E9E9E9;
    border: 1px solid #FFF;
    width: calc(100% - 22px);
}
#tab10 .mynewcnt {
    padding: 10px;
}
#tab9 .mynewbox {
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
}
#tab9 .mynewtxt {
    color: #666;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    background: #E9E9E9;
    border: 1px solid #FFF;
    width: calc(100% - 22px);
}
#tab9 .mynewcnt {
    padding: 10px;
}
tspan {
    cursor: pointer;
}
.ms-container ul.ms-list {
    height: 160px;
    padding: 0px 0px;
    overflow-y: auto;
}