.sidebar-mu {
    background-color: #172d42;
}

.logo-mu {
    height: 100px !important;
}

.sidebar .navigation.bordered {
    border: none !important;
}

.sidebar .navigation.bordered > li > a {
    background: #172d42 !important;
    border-bottom: 1px !important;
    color: #3DFFF6 !important;    
}

.sidebar .navigation.bordered > li .open {
    border-left: 1px solid !important;
}

.sidebar .navigation.bordered > li.active .open {
    background: url(../img/navb_minus.png) center center no-repeat #0a1f34;
}

.sidebar .navigation.bordered > li .open:hover {
    background: url('../img/navb_plus.png') center center no-repeat #0a1f34;
}

.headerBarMu {
    color: white !important;
    background: #237985 !important;
}

.headerTask span {
    background-color: #0a1f34 !important;
}