body {
	margin: 0px;
	padding: 0px;
	font-size: 8px;
	font-family: Arial;
}
table {
	width: 100%;
	font-size: 8px;
	margin-bottom: 5px;
	border-collapse: collapse;
}
td {
	padding: 2px;
	vertical-align: top;
	border: 1px solid #000;
}
.divide {
	width: 47.5%;
	float: left;
	margin: 0.5%;
}
.titulo {
	font-weight: bold;
	text-align: center;
	background-color: lightgrey
}
.rodapeOrdem{
    text-align: center;
    vertical-align: top;
    font-size: 6px;
    margin-top: -4px;
}