body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "Segoe UI", Arial, Sans-Serif;
	background: url(background.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-webkit-user-select: none;
	-moz-user-select: none;
}
a {
	text-decoration: none;
}
.navigation , .searchcode , .checkout {
	padding: 0.5%;
	background: rgba(0,0,0,0.8);
}
.navigation .button,
.clocktime .button {
	float: left;
	color: #333;
	width: 50px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
}
.navigation .button .icon,
.clocktime .button .icon {
	color: #FFF;
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.navigation  .slides {
	float: left;
	height: 50px;
	background-color: #FFF;
}
.navigation .slides .goback {
	height: 50px;
	max-height: 50px;
	white-space: nowrap;
}
.navigation .slides .goback .option {
	color: #333;
	height: 40px;
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
	background-color: #EEE;
	padding: 5px 15px 5px 15px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.navigation .slides .goback .option .name {
	margin-top: 6px;
	font-size: 18px;
	text-align: center;
}
.searchcode .button {
	float: left;
	color: #333;
	width: 50px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
}
.searchcode .button .icon {
	color: #FFF;
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.searchcode  .slides {
	float: left;
	height: 40px;
	background-color: #FFF;
	padding: 5px 40px 5px 20px;
}
.searchcode  .slides .value {
	width: 100%;
	border: 0px;
	height: 38px;
	font-size: 27px;
}
.clocktime, .logmein {
	padding: 0.5%;
	padding-left: 0px;
	background: rgba(0,0,0,0.8);
}
.clocktime .display {
	float: right;
	color: #FFF;
	width: 120px;
	height: 25px;
	padding: 5px 0;
	line-height: 25px;
	background-color: #333;
}
.clocktime .display .time {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
}
.clocktime .display .date {
	font-weight: bold;
	text-align: center;
}

.clocktime .login {
	float: right;
	color: #FFF;
	height: 45px;
	width: 150px;
	padding: 2.5px 0;
	background-color: #333;
}
.clocktime .login .photo {
	float: left;
	width: 50px;
	height: 50px;
}
.clocktime .login .person {
	float: left;
	color: #FFF;
	width: 100px;
	height: 20px;
}
.clocktime .login .button {
	float: right;
	color: #FFF;
	width: 22px;
	height: 20px;
	padding: 2px;
	margin-top: 10px;
}
.clocktime .login .button .icon {
	margin-top: 2px;
	font-size: 16px;
	text-align: center;
}

.products {
	height: 100%;
	padding: 0.5%;
}
.products .statics {
	background: rgba(0,0,0,0.5);
}
.products .statics .button {
	cursor: pointer;
	float: right;
	color: #FFF;
	width: 50px;
	height: 40px;
	padding: 5px;
}
.products .statics .button .icon {
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.products .academia .clients {
	height: 120px;
	background: rgba(0,0,0,0.3);
}
.products .academia .clients .button {
	cursor: pointer;
	color: #000;
	float: left;
	margin: 5px;
	padding: 5px;
	width: 100px;
	height: 100px;
	background-color: #333;
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
.products .academia .clients .button .title {
	width: 94px;
	padding: 3px;
	margin-top: 75px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	background: rgba(255,255,255,0.5);
}
.products .academia .clients .active {
	background-color: #D53F26;
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
.products .plan_select {
	height: 50px;
	padding: 5px;
	width: calc(100% - 10px);
	background: rgba(0,0,0,0.5);
}
.products .plan_select .myselect {
	float: left;
	height: 50px;
	overflow: hidden;
	background-color: #FFF;
	width: calc(100% - 125px);
}
.products .plan_select .myselect .label {
	color: #FFF;
	height: 18px;
	font-size: 13px;
	text-align: center;
	background-color: #333;
}
.products .plan_select .myselect .input {
	color: #333;
	height: 32px;
	font-size: 20px;
	margin-top: 3px;
	line-height: 32px;
	text-align: center;
	background-color: #FFF;
}
.products .plan_select .myselect .input .value {
	width: 99%;
	border: 0px;
	color: #333;
	font-size: 22px;
	text-align: center;
}
.products .plan_select .myselect .input .select {
	font-size: 20px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.products .plan_select .button {
	float: left;
	color: #333;
	height: 40px;
	padding: 5px;
	cursor: pointer;
}
.products .plan_select .button .icon {
	color: #FFF;
	margin-top: 8px;
	font-size: 27px;
	text-align: center;
}
.products .plan_select .button .text {
	color: #FFF;
	font-size: 25px;
	margin-top: 3px;
	font-weight: bold;
	text-align: center;
}
.products .academia .myblock {
	float: left;
	width: calc(50% - 2.5px);
}
.products .academia .parcels {
	float: left;
	height: 170px;
	margin: 5px 0 0 5px;
	width: calc(50% - 2.5px);
}
.products .academia .parcels .mylist {
	float: left;
	height: 235px;
	overflow: hidden;
	padding-left: 5px;
	width: calc(100% - 75px);
	background: rgba(0,0,0,0.3);
}
.products .academia .parcels .mylist .button {
	background-color: #CCC;
	margin-bottom: 5px;
	cursor: pointer;
	padding: 5px;
	height: 35px;
	width: 40px;
	color: #FFF;
	float: left;
}
.products .academia .parcels .mylist .button .icon {
	font-size: 24px;
	text-align: center;
	margin: 7px 0 0 5px;
}
.products .academia .parcels .mylist .texto {
	float: left;
	height: 40px;
	color: #FFFFFF;
	margin: 0 5px 5px 0;
	padding: 5px 0 0 5px;
	width: calc(50% - 60px);
	background: rgba(204,204,204,0.3);
}
.products .academia .parcels .mylist .texto span {
	font-size: 12px;
}
.products .academia .parcels .mylist .ativo {
	background-color: #009AD7 !important;
}
.products .academia .parcels .mylist .light {
	background: rgba(0,154,215,0.3) !important;
}
.products .academia .parcels .parc_stat {
	float: left;
	width: 60px;
	height: 235px;
	padding: 0 5px;
	background: rgba(0,0,0,0.5);
}
.products .academia .parcels .parc_stat .button {
	background-color: #009AD7;
	cursor: pointer;
	color: #FFF;
	width: 50px;
	height: 40px;
	padding: 5px;
}
.products .academia .parcels .parc_stat .button .icon {
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.products .academia .selects {
	float: left;
	height: 170px;
	margin-top: 5px;
}
.products .academia .selects .plan_list {
	float: left;
	height: 105px;
	width: calc(100% - 70px);
	background: rgba(0,0,0,0.3);
}
.products .academia .selects .plan_list .linha {
	width: 100%;
	float: left;
	color: #FFFFFF;
	cursor: pointer;
	line-height: 30px;
	margin-bottom: 2px;
}
.products .academia .selects .plan_list .linha div {
	background: rgba(204,204,204,0.3);
}
.products .academia .selects .plan_list .ativo div {
	background: rgba(0,154,215,0.3) !important;
}
.products .academia .selects .plan_list .linha .cod {
	float: left;
	margin-left: 5px;
	text-align: center;
	width: calc(10% - 5px);
}
.products .academia .selects .plan_list .linha .desc {
	float: left;
	margin-left: 2px;
	padding-left: 5px;
	width: calc(40% - 7px);
}
.products .academia .selects .plan_list .linha .data {
	float: left;
	margin-left: 2px;
	text-align: center;
	width: calc(25% - 2px);
}
.products .academia .selects .plan_stat {
	float: left;
	width: 60px;
	height: 105px;
	padding: 0 5px;
	background: rgba(0,0,0,0.5);
}
.products .academia .selects .plan_stat .button {
	background-color: #009AD7;
	cursor: pointer;
	color: #FFF;
	width: 50px;
	height: 40px;
	padding: 5px;
}
.products .academia .selects .plan_stat .button .icon {
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.products .contents {
	padding: 0px 5px;
	background: rgba(0,0,0,0.3);
}
.products .contents .button {
	cursor: pointer;
	color: #000;
	float: left;
	margin: 5px;
	padding: 5px;
	width: 150px;
	height: 150px;
	background: #333;
}
.products .contents .active {
	background: #D53F26;
}
.products .contents .naovender {
	background: #b3b300;
}
.products .contents .button .title {
	width: 144px;
	height: 38px;
	padding: 3px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 81px;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	background: rgba(255,255,255,0.5);
}
.products .contents .button .price {
	width: 144px;
	padding: 3px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	background: rgba(255,255,255,0.5);
}
.products .academia .contents .linha {
	width: 100%;
	float: left;
	color: #FFFFFF;
	line-height: 30px;
	margin-bottom: 2px;
}
.products .academia .contents .linha div {
	float: left;
	margin-left: 2px;
	text-align: center;
	background: rgba(204,204,204,0.3);
}
.products .academia .contents .ativo div {
	background: rgba(0,154,215,0.3) !important;
}
.products .academia .contents .linha .prec,
.products .academia .contents .linha .venc { width: calc(18% - 22px); }
.products .academia .contents .linha .parc { width: calc(10% - 22px); }
.products .academia .contents .linha .pago { width: calc(13% - 22px); }
.products .academia .contents .linha .icon {
	width: 118px;
	cursor: pointer;
	font-weight: bold;
	background-color: #D53F26;
}
.products .academia .contents .linha .mes {
	margin: 0;
	text-align: left;
	padding-left: 8px;
	width: calc(23% - 28px);
}
.payments {
	padding: 0px 10px 0px 10px;
	background: rgba(0,0,0,0.3);
}
.payments .updown .label,
.resumo_caixa .label,
.trans_venda .label {
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-color: #333;
}
.payments .updown .button,
.resumo_caixa .button,
.trans_venda .button {
	color: #333;
	height: 42px;
	padding: 5px;
	cursor: pointer;
}
.trans_venda .button {
	line-height: 42px;
}
.payments .updown .button .icon,
.resumo_caixa .icon,
.trans_venda .icon {
	color: #FFF;
	margin-top: 8px;
	font-size: 27px;
	text-align: center;
}
.payments .updown .mylist {
	width: 59%;
	padding: 0.5%;
	float: right;
}
.payments .updown .mylist .ready,
.trans_venda  .ready {
	color: #333;
	height: 46px;
	font-size: 27px;
	padding-top: 6px;
	font-weight: bold;
	text-align: center;
	background-color: #FFF;
}
.trans_venda  .ready {
	height: 45px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.payments .updown .mylist .ready .value,
.trans_venda  .ready .value {
	width: 99%;
	border: 0px;
	color: #333;
	font-size: 27px;
	margin-top: -1px;
	font-weight: bold;
	text-align: center;
	font-family: "Segoe UI", Arial, Sans-Serif;
}
.payments .updown .mylist .input {
	color: #333;
	background-color: #FFF;
}
.payments .updown .mylist .input table {
	width: 100%;
	padding-bottom: 5px;
	border-spacing: 0px;
}
.payments .updown .mylist .input td {
	padding-right: 5px;
	text-align: center;
}
.payments .updown .mylist .input .value {
	width: 99%;
	height: 20px;
	font-size: 14px;
	text-align: center;
}
.payments .updown .mylist .input .select {
	width: 99%;
	height: 26px;
	font-size: 14px;
}
.payments .updown .option {
	width: 39%;
	padding: 0.5%;
	min-width: 172px;
}
.payments .updown .option .input,
.resumo_caixa .input,
.trans_venda .input {
	color: #333;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	background-color: #FFF;
}
.resumo_caixa .input,
.trans_venda .input {
	height: 31px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.payments .updown .option .input .value,
.resumo_caixa .input .value,
.trans_venda .input .value {
	width: 99%;
	border: 0px;
	color: #333;
	font-size: 22px;
	text-align: center;
}
.trans_venda .input .value {
	width: calc(100% - 8px);
	margin-top: 3px;
}
.payments .updown .option .input .select,
.resumo_caixa .input .select,
.trans_venda .input .select {
	font-size: 20px;
	appearance: none;
	line-height: 25px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.quantity {
	width: 10%;
	height: 100%;
	padding: 0.5%;
	padding-left: 0px;
}
.quantity .statics {
	background: rgba(0,0,0,0.5);
}
.quantity .contents {
	padding: 15px 10px 0px 10px;
	background: rgba(0,0,0,0.5);
}
.quantity .contents .button {
	color: #333;
	height: 30px;
	padding: 5px;
	cursor: pointer;
}
.quantity .contents .button .text {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
.quantity .contents .button .icon {
	color: #FFF;
	margin-top: 3px;
	font-size: 27px;
	text-align: center;
}
.quantity .contents .input {
	color: #333;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	background-color: #FFF;
}
.quantity .contents .input .value  {
	width: 60px;
	border: 0px;
	color: #333;
	font-size: 22px;
	text-align: center;
	background-color: #FFF;
}
.quantity .contents .label {
	color: #FFF;
	height: 20px;
	font-size: 14px;
	text-align: center;
	background-color: #333;
}
.receipts {
	height: 100%;
	padding: 0.5%;
	padding-left: 0px;
}
.receipts .statics {
	background: rgba(0,0,0,0.5);
}
.receipts .statics .button {
	cursor: pointer;
	float: right;
	color: #FFF;
	width: 50px;
	height: 40px;
	padding: 5px;
}
.receipts .statics .button .icon {
	margin-top: 6px;
	font-size: 27px;
	text-align: center;
}
.receipts .contents {
	padding: 0px 10px 0px 10px;
	background: rgba(0,0,0,0.3);
}
.receipts .contents .updown table {
	padding: 5px;
	margin-top: 5px;
	background: rgba(255,255,255,0.9);
}
.receipts .contents .updown td {
	padding: 5px;
}
.receipts .contents .updown_normal {
	color: #000;
	cursor: pointer;
}
.receipts .contents .updown_enable {
	color: #FFF;
	background-color: #D53F26;
}
.checkout .button {
	float: left;
	color: #FFF;
	width: 65px;
	height: 60px;
	padding: 5px;
	cursor: pointer;
}
.checkout .button .icon {
	margin-top: 5px;
	font-size: 32px;
	text-align: center;
}
.checkout .button .text {
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
}
.logmein .button {
	color: #FFF;
	height: 50px;
	padding: 10px;
	line-height: 50px;
}
.logmein .button .money {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url('../img/wpoint.png') left top repeat;
}
#loader img {
	position: absolute;
	left: 50%;
	top: 50%;
}