@import "bootstrap/bootstrap.min.css";
@import "bootstrap/bootstrap-responsive.min.css";
@import "bootstrap/bootstrap-fileupload.css";
@import "jquery/ui.css";
@import "epiechart/jquery.easy-pie-chart.css";
@import "fancybox/jquery.fancybox.css";
@import "uniform/uniform.css";
@import "select/select.css";
@import "tagsinput/jquery.tagsinput.css";
@import "multiselect/multiselect.css";
@import "validation/validationEngine.jquery.css";
@import "stepywizard/jquery.stepy.css";
@import "mcustomscrollbar/mCustomScrollbar.css";
@import "cleditor/cleditor.css";
@import "shbrush/shCoreDefault.css";
@import "shbrush/shThemeDefault.css";
@import "icons.css";
@import "styling.css";
@import "stylesheet.css";
@import "opera.css";
@import "mystyles.css";

html { height: 100%; }
body {
	min-height: 100%;
	font-family: "Segoe UI", arial, sans-serif;
	font-size: 11px;
	position: relative;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../img/backgrounds/default.jpg);
}

/*~Smartphones (portrait and landscape)~*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){    
    .data, .data-fluid{ overflow: hidden; overflow-x: scroll; }    
}

@media only screen and (max-width: 767px){
    .body .navigation > li{position: relative;}
    .body .navigation > li .sub{left: 0px; top: 70px; z-index: 100; padding: 0px;}
	.body .navigation > li .sub li{float: left; background: #F5F5F5; margin: 0px;}
	.body .navigation > li .sub li a{padding: 5px 10px; width: 180px; float: left;}
    .popup.active{position: fixed; left: 50%; margin-left: -150px;}        
}

@media only screen and (max-width: 768px){
    body{padding: 0px;}
	.body .navigation .button{width: 55px; height: 55px;}
	.body .navigation .arrow{display: none;}
	.body .navigation .button .icon{width: 55px; height: 44px; margin: 0px; border: 0px;}
	.body .navigation .button .name{font-size: 10px;}
    .data, .data-fluid{ overflow: hidden; overflow-x: scroll;}
    .body .content .widget{margin-bottom: 0px;}
    .body .content .widget:nth-child(1n){margin-right: 3px;}
}

@media only screen and (max-width: 1250px){
    .body .navigation .button{width: 55px; height: 55px;}
    .body .navigation .arrow{display: none;}
    .body .navigation .button .icon{width: 55px; height: 44px; margin: 0px; border: 0px;}
    .body .navigation .button .name{font-size: 8px;}
    .body .navigation li{margin-left: 0}
}

/*~iPads (portrait and landscape)~*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .body .navigation .button .icon{padding-top: 4px; height: 41px;}
    .body .content .widget{margin-bottom: 0px;}
    .body .content .widget:nth-child(2n){margin-right: 0px;}
}

/*@media only screen and (max-width: 1024px){
    .wrapper{margin: 0px 10px;}
    .body{margin-left: 0px; padding-left: 0px; margin-top: 0px; z-index: 10;}
    
    .sidebar{left: 0px; top: 10px; height:900px; width: 100%; z-index: 20; display: none; background: url('../img/wpoint8.png') left top repeat;}
    .sidebar .close{display: block;}
        .sidebar .top, .sidebar .widget{display: none;}        
        .sidebar .navigation{float: left; width: 100%;}
            .sidebar .navigation li{padding: 3px 10px; width: 100%; }
            .sidebar .navigation > li > a, .sidebar .navigation li ul,
            .sidebar .navigation li ul li,.sidebar .navigation li ul li a{width: 100%;}
                .sidebar .navigation li ul{display: none;}
                    .sidebar .navigation li.active ul{display: block; float: left;}
                .sidebar .navigation li ul li{clear: both;}
          
    .body .navigation{height: auto;}
    .body .navigation .buttons .sbutton.navButton{display: inline-block;}
    
}*/

@media only screen and (max-width: 1279px){
    .wrapper.fixed{width: auto; margin: 0px 10px;}
}
.box90 {
	float: left;
	height: 110px;
	width: 90%;
}
#separadora {
	float: left;
	width: 100%;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
}

.row-form .input-xmini {
	width: 10%;
	height:22px;
}
.row-form .spanBNT       {
	width: 75%;
	background:#FFF;
}
#topBG {
	float: left;
	height: 24px;
	width: 100%;
	margin-bottom: 20px;
	background-color: #333;
	height:50px;
}
#topBG h2 {
	font-size: 18px;

	text-align:center;
	width:100%;
	text-align:left;
	margin-top:12px;
	margin-left:10px;
}


.spanBNT {
	background-color: #f7f7f7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;
	margin-top: 20px;
	margin-bottom: 10px;
	display:block;
	position: absolute;
	left:-22px;
	float:right;
	height:57px;
	width: 100%;
	padding-right:10px;
	padding-top:3px;
}
.spanBNT2 {
	background-color: #f7f7f7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;	
	margin-top: 20px;
	margin-bottom: 10px;
	display:block;
	position: absolute;
	left:-22px;
	float:right;
	height:57px;
	width: 100%;
	padding-right:10px;
	padding-top:3px;
}

.spanBNT3 {
	background-color: #f7f7f7;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cfcfcf;	
	margin-top: 20px;
	margin-bottom: 10px;
	display:block;
	position: absolute;
	left:-10px;
	float:right;
	height:57px;
	width: 100%;
	padding-right:10px;
	padding-top:3px;
}

.txtPq {
	font-size: 12px;
}
#ocultar {
	height: 180px;
	overflow: hidden;
	margin-top: 20px;
}
.caixa {
	border: 1px solid #D6D6D6;
}
.textosComuns {
	font-size: 11px;
}
table td #formPQ {
	height: 13px;
	overflow: hidden;
}

label {
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
} 

.dataTables_processing {
    position: fixed;
    top: 50%;
    left: calc(50% + 125px);
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.ui-segment{
	border: 1px solid #CCC;
	border-radius: 4px;
	display:inline-block;
}
.ui-segment span.option.active{
	background-color: #308698;
	color: white;
}
.ui-segment span.option{
	font-size: 13px;
	padding-left: 23px;
	padding-right: 23px;
	height: 25px;
	text-align:center;
	display:inline-block;
	line-height: 25px;
	margin: 0px;
	float:left;
	cursor:pointer;
}
.ui-segment span.option:last-child{
	border-right: none;
}
.segment-select{
	display:none;
}

.boxfilter input[type="text"],.boxfilter input[type="search"],.boxfilter input[type="password"],.boxfilter textarea, .boxfilter select
{
	height: 31px;
}

.boxtext .icon{
	height: 20px;
	width: 23px;
	border: 1px solid #434343;
	display: inline-block;
	-webkit-border-radius: 50%;
	padding-top: 3px;
	line-height: 19px;
	color:black;
}
