.cnttable{
  height: 144px;
  overflow-y: scroll;
  margin: 1.5% 0px;
}

.buscacntt p{
  margin: 0px;
}
.buscacntt .btn{
  margin: 0px;
  height:27px;
}

.buscacntt input[type="text"]{
  margin: 0% 2%;
}
.buscacntt{
  display: flex;
  align-items: center;
}

.cnttable .headerContt{
  display: flex;
  align-items: center;
  background-color: #E9E9E9;
  margin-top: 2%;
}

.cnttable .conteudo{
  display: flex;
}
.cnttable .conteudo:nth-child(odd){
  background: #F2F2F2;
}


.cnttable .conteudo div{
  padding: 1% 1%;
  border: solid #ddd;
  border-width: 0px 1px 1px 1px;
}
.cnttable .conteudo div:nth-child(1), .headerContt div:nth-child(1){
  width: 20%;
}
.frmcont .ajustSpan{
	clear: both;
	padding: 2% 0;
	display: block;
}
.cnttable .conteudo div:nth-child(2), .headerContt div:nth-child(2){
  width: 60%;
}

.cnttable .conteudo div:nth-child(3), .headerContt div:nth-child(3){
  width: 20%;
}
.cnttable .conteudo div:nth-child(3){
  display: flex;
  justify-content: center;
}

.cnttable .headerContt div{
  padding: 1% 1%;
  border: 1px solid #ddd;
}

.mtStatus td:nth-child(2) { text-align: center; }
.mtStatus td:nth-child(3) { text-align: center; }
#tbListaDCC td { padding: 5px; }
#tbListaDCC td:nth-child(7) { text-align: right; }
#s2id_txtClienteDCC { width: calc(100% - 165px); }
#tab6 .mynewbox {
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    width: calc(49.5% - 2px);
    border: 1px solid #D8D8D8;
}
#tab6 .mynewtxt {
    color: #666;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    background: #E9E9E9;
    border: 1px solid #FFF;
    width: calc(100% - 22px);
}
#tab6 .mynewcnt {
    padding: 10px;
}
tspan {
    cursor: pointer;
}

.formContent{
  width: 90%;
  margin: 0 auto;
}

.formContent p{
}

/*-------------------Acorddion updates--------------------*/
#accordionContent{
  clear: both;
}

#accordionContent .ui-accordion-header{
  display: flex;
  align-items: center;
  font-size: 14px;
}

#accordionContent .ui-accordion-content{
  display: flex;
  font-size: 14px;
  flex-direction: column;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: rgb(242, 242, 242);
}


#accordionContent .ui-accordion-content:last-child{
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: rgb(242, 242, 242);
}

#accordionContent .ui-accordion-content p{
  color: #000;
  margin: 10px;
  font-weight: 400;
}

#accordionContent div span{
  font-size: 20px;
  display: block;
}

#accordionContent h3{
  font-size: 16px;
  line-height: 0;
  width: 98%;
}

#accordionContent .ui-accordion-content ol li{
  margin-bottom: 15px;
}
.ajustPublic{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.ajustPublic p{
  margin-right: 8px;
}

.ajustPublic div.checker{
  margin-left: 10px;
}

/*----------------------Sistema de dcc---------------------*/
.indfoot .cnttTop{
  height: 23%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.indfoot .cnttTop .dashDcc{
  width: 32%;
  height: 100%;
  border: 3px solid #eeeeee;

}

.indfoot .cnttTop .dashDcc .cnttmidle, .cnttfoot .dashDcc .cnttmidle{
  display: flex;
  text-align: center;
  margin: 3px 0;
}

.indfoot .cnttTop .dashDcc .cnttmidle div{
  width: 50%;
}

.indfoot .cnttTop .dashDcc .cnttmidle div h4, p{
  color: #557799;
  margin: 0;
  font-weight: bold;
}

.indfoot .cnttTop .dashDcc .cnttmidle .cnttum h4, h6{
  margin-left: 10px !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.indfoot .cnttTop .dashDcc .cnttmidle .cnttum h3{
  margin-right: 10px;
}

.indfoot .cnttTop .dashDcc .cnttmidle .cnttum h6, .cnttfoot .dashDcc .cnttmidle h6{
  color: #44aa55;
  text-align: left;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.indfoot .cnttTop .dashDcc .cnttmidle h3, h4, h6{
  margin: 0;
  flex: 1;
}

.indfoot .cnttTop .dashDcc .cnttmidle h3{
  color: #00aaee;
  font-size: 36px;
}

.indfoot .cnttTop .dashDcc .cnttmidle h2, .cnttfoot .dashDcc .cnttmidle h2{
  font-size: 22px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #557799;
}

.indfoot .cnttTop .dashDcc .cnttmidle h2 span, .cnttfoot .dashDcc .cnttmidle h2 span{
  font-size: 2vw;
}
.indfoot .cnttTop .dashDcc .cnttmidle h5, .cnttfoot .dashDcc .cnttmidle h5{
  font-size: 10px;
  margin: 0;
  color: #bbbbbb;
  font-weight: 100;
}
.indfoot .cnttTop .dashDcc .cnttmidle h5 span{
  font-weight: bold;
}
.indfoot .cnttfoot{
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-between;
}

.cnttfoot .dashDcc{
  border: 3px solid #eeeeee;
}

.cnttfoot .dashDcc .cnttmidle{
  margin: 3px 0;
}

.cnttfoot .dashDcc:nth-child(1){
  width: 100%;
  height: 100%;
}


.cnttfoot .dashDcc:nth-child(2){
  width: 65.8%;
  height: 100%;
}

.cnttfoot .dashDcc .titleDcc,.cnttTop .dashDcc .titleDcc{
  text-align: center;
  text-transform: uppercase;
  color: #006568;
  padding: 16px 0;
  font-size: 0.9vw;
  font-weight: 500;
}

.cnttTop .dashDcc .titleDcc{
  padding: 8px 0;
}

/*-----------------botoes do topo--------------------------*/
.cnttBtns{
  width: 37%;
  display: flex;
  justify-content: space-around;
  padding: 0% 3%;
  align-items: center;
}
.btnHeader{
  width: 16%;
  background-color: #006568;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.btnajust{
  border:0;
  background: var(--cor-primaria);
  font-size: 13px;
  float:right;height: 52.77px;
  width: 49%;
  margin: 0;
}

.btnHeader img{
  width: 100%;
}
.btnHeader a{
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btnHeader a:hover{
  color: #fff;
  text-decoration: none;
}

.textosComunsAjusts tr{
  width: 100%;
}

.textosComunsAjusts tr td{
  width: 25%;
}


/*---------------Dash board SIVIS PAGTO------------------*/
.cnttDashboard{
  width: 100%;
}
.statusReturnDcc{
  float: left;
  border: 1px solid #e0e0e0;
  margin-top: 50px;
  padding: 10px;
}

.statusReturnDcc p{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.statusReturnDcc span{
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 10px;
}

#pizzaReturnDcc{
  width: 300px;
  height: 300px;
  float: left;
}

.dccRestricao{
  background: #64318d;
}

.dccSegAusente{
  background: #f7802e;
}

.dccSegInvalido{
  background: #8ccc5a;
}

.dccNaoAutorizado{
  background: #f37a1d;
}

.dccOutros{
  background: #34571d;
}

.dccSaldoInsufi{
  background: #fec401;
}

.dccCCvencido{
  background: #f80001;
}

.dccCCDesbloqueado{
  background: #00abf8;
}

.dccStatusGeral{
  margin: 0 auto;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.dccReprovados{
  width: 18%;
  float: left;
}

#GraficoReturnDcc{
  width: 82%;
  float: left;
}

#dialog .top, #dialog .footer{
  background: #EDEDED;
  padding: 10px 0;
  font-weight: bold;
  font-size: 13px;
}

/*
#F9F9F9
*/
#dialog .cnttMes{
    padding: 10px 0;
    font-size: 12px;
}
#dialog{
  padding: 0;
}

.ui-dialog-titlebar{
  background: #006568!important;
}

.ui-dialog-titlebar span{
  color: #fff!important;
}

#dialog .cnttMes:nth-child(2n+1){
  background: #F9F9F9;
}

#dialog .top, #dialog .footer, #dialog .cnttMes{
  display: flex;
}

#dialog .top div,#dialog .footer div, #dialog .cnttMes div{
  width: 20%;
  text-align: center;
}

.cnttReprovados{
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

/*-------Filtros de contrato------------*/
.boxfilter .filterLeft{
  float:left;
  width:25%;
}

.boxfilter .filterRight{
  float: right;
  width: 75%;
  display: flex;align-items: center;
}

.boxfilter .filterRight div{
  display: flex;
  flex-direction: column;
  flex:1;
  margin: 0px 2px;
}

/*------------contrato do sistema-----------------*/
.clearfix{
  clear: both;
  content: '';
  display: block;
}
.erp-login .boxButtons{
  display: flex;
  align-items: center;
  float: left;
}

.erp-login .boxButtons button{
  width: 40px;
  height: 35px;
  margin-left: 2%;
}

/*--------------Efeito piscar topo-----------------*/


  .piscar{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
      from {opacity: 1;}
      to {opacity: 0;}
  }

  /* Standard syntax */
  @keyframes example {
      from {opacity: 1;}
      to {opacity: 0;}
  }

  /*-----------Configuracoes---------*/
#tab9 .cnttTest{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tab9 .cnttTest .divLojas{
  width: 45%;
}

#tab9 .cnttTest div textarea{
  height: 220px;
  margin-bottom: 20px;
}

#tab9 .cnttTest div h4{
  text-align: center;
  padding: 10px 0;
  padding-bottom: 10px;
  color: #006568;
  border-bottom: 1px solid #ddd;
}

#tab9 .cnttTest div input{
  margin-bottom: 4%;
  width: 100%;
}

#tab9 .allDropDown{
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#tab9 fieldset{
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5%;
}

#tab9 legend{
  font-size: 15px;
  width: inherit;
  border-bottom: none;
  line-height: 0;
  color: #333;
  font-weight: bold;
}

#tab9 label{
  width: 50%;
}


#tab9 .cnttTest .divLojas fieldset .cnttTestemunhas{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tab9 .cnttTest .divLojas fieldset .cnttTestemunhas div{
  width: 48%;
}

#tab9 .dropup, .dropdown{
  margin-left: 2%;
}

.cnttClausulas .cnttInput{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cnttClausulas .cnttInput input{
  margin-bottom: 0 !important;
  margin-right: 2%;
}

.cnttClausulas .cnttInput img{
  width: 3%;
  height: 3%;
}

.cnttClausulas .rowP2{
  padding-left: 5%;
}

.cnttClausulas .rowP3{
  padding-left: 10%;
}
