body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "Segoe UI", Arial, Sans-Serif;
	background: url(./../../../css/background.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.headbar {
	height: 2px;
	padding: 10px;
	background: rgba(0,0,0,0.8);
}
.footbar {        
	height: 55px;
	padding: 5px 10px;
	text-align: center;
	background: rgba(0,0,0,0.8);
}
.footbar marquee {
	color: #CCC;
	height: 45px;
	font-size: 40px;
	font-weight: bold;
	line-height: 35px;
	text-shadow: 0 0 3px #CCC;
	background: rgba(0,0,0,0.2);
}
.workbar {
	height: 12px;
	padding: 10px;
	background: rgba(0,0,0,0.8);
}
.products {
	width: 73%;
	height: 100%;
	padding: 0.5%;
}
.products .contents {
	padding: 10px;
	background: rgba(0,0,0,0.6);
}
.products .contents .button {
	float: left;
	background: rgba(0,0,0,0.6);
}
.products .contents .button .title {
	color: #FFF;
	width: 100%;
	height: 90px;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 5px #FFF;
}
.products .contents .button .newpwd {
	color: #FFF;
	width: 100%;
	font-size: 350px;
	font-weight: bold;
	margin-top: -100px;
	text-align: center;
	text-shadow: 0 0 10px #FFF;
}
.receipts {
	width: 24%;
	height: 100%;
	padding: 0.5%;
	padding-left: 0px;
}
.receipts .contents {
	padding: 10px;
	background: rgba(0,0,0,0.6);
}
.receipts .contents .title {
	color: #CCC;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 3px #CCC;
	padding: 2px 5px 5px 5px;
	height: 33px;
	margin-bottom: 5px;
	background: rgba(0,0,0,0.6);
}
.receipts .contents .updown .oldpwd {
	color: #CCC;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 5px #CCC;
	padding: 0px 5px 5px 5px;
	margin-bottom: 5px;
	background: rgba(0,0,0,0.6);
}
.working {
	width: 24%;
	height: 100%;
	padding: 0.5%;
}
.working .contents {
	padding: 5px;
	background: rgba(0,0,0,0.6);
}
.working .contents .title {
	color: #CCC;
	height: 33px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 3px #CCC;
	margin: 5px 5px 0px 5px;
	padding: 2px 5px 5px 5px;
	background: rgba(0,0,0,0.6);
}
.working .contents .updown td {
	margin-bottom: 5px;
	padding: 0px 5px 5px 5px;
	background: rgba(0,0,0,0.6);
}
.working .contents .updown .workpwd {
	width: 160px;
	color: #CCC;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}
.working .contents .updown .worktxt {
	color: #CCC;
	font-size: 25px;
}
.working .contents .updown .button {
	float: left;
	width: 50px;
	height: 40px;
	padding: 5px;
	margin: 2.5px;
	cursor: pointer;
}
.working .contents .updown .button .icon {
	color: #FFF;
	font-size: 27px;
	margin-top: 6px;
	text-align: center;
}
@media only screen and (max-width: 799px){
    .products .contents .button .title { height: 80px; font-size: 50px; }
	.products .contents .button .newpwd { font-size: 250px; }
	.receipts .contents .updown .oldpwd { font-size: 45px; }
	.working .contents .updown .workpwd { width: 115px; font-size: 45px; }
	.working .contents .updown .worktxt { font-size: 22px; }
}
@media only screen and (min-width: 800px) and (max-width: 1023px){
    .products .contents .button .title { height: 85px; font-size: 60px; }
	.products .contents .button .newpwd { font-size: 300px; }
	.receipts .contents .updown .oldpwd { font-size: 50px; }
	.working .contents .updown .workpwd { width: 135px; font-size: 50px; }
	.working .contents .updown .worktxt { font-size: 25px; }
}
@media only screen and (min-width: 1024px) and (max-width: 1350px){
    .products .contents .button .title { height: 90px; font-size: 70px; }
	.products .contents .button .newpwd { font-size: 400px; }
	.receipts .contents .updown .oldpwd { font-size: 55px; }
	.working .contents .updown .workpwd { width: 150px; font-size: 55px; }
	.working .contents .updown .worktxt { font-size: 27px; }
}