/* Defaults */
.tal {
	text-align: left !important;
}
.tar {
	text-align: right !important;
}
.tac {
	text-align: center !important;
}
.fl {
	float: left !important;
}
.fl {
	float: right !important;
}
.nm {
	margin: 0px !important;
}
.nmt {
	margin-top: 0px !important;
}
.nmb {
	margin-bottom: 0px !important;
}
.nmr {
	margin-right: 0px !important;
}
.nml {
	margin-left: 0px !important;
}
.np {
	padding: 0px !important;
}
.npt {
	padding-top: 0px !important;
}
.npb {
	padding-bottom: 0px !important;
}
.npr {
	padding-right: 0px !important;
}
.npl {
	padding-left: 0px !important;
}
a {
	outline: none !important;
}
form {
	margin: 0px;
}
.img-polaroid {
	border-color: #E5E5E5;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.sourcePosition {
	position: fixed !important;
}
#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url('../img/wpoint.png') left top repeat;
}
#loader img {
	position: absolute;
	left: 50%;
	top: 50%;
}
.wrapper {
	position: relative;
	margin: 0px 20px 0px 0px;
}
.wrapper.fixed {
	width: 1280px;
	margin: 0px auto;
}
/* sidebar */
    .sidebar {
	min-height: 100%;
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
	width: 220px;
	padding: 0px 20px 0px 10px;
	background: url('../img/nav_line.jpg') right top repeat-y #191818;
}
.sidebar .top {
	float: left;
	width: 250px;
	margin: 30px 0px;
}
.sidebar .top .logo {
	width: 220px;
	height: 75px;
	float: left;
	display: block;
	margin-bottom: 20px;
	border-bottom:solid 1px #d53f26;
	margin-left: 0px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.sidebar .top .search {
	width: 220px;
	float: left;
}
/* simple navigation */
        .sidebar .nContainer {
	float: left;
	display: block;
}
.sidebar .close {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
}
.sidebar .navigation {
	width: 220px;
	margin: 10px 0px 20px;
	padding: 0px;
	list-style: none;
	display: block;
	float: left;
	position: relative;
}
.sidebar .navigation > li {
	position: relative;
	width: 220px;
	float: left;
	display: block;
}
.sidebar .navigation > li > a {
	font-size: 20px;
	color: #C9C9C9;
	display: block;
	float: left;
	width: 220px;
	line-height: 24px;
	margin-bottom: 5px;
	text-decoration: none;
}
.sidebar .navigation > li > a.active,  .sidebar .navigation > li > a:hover {
	color: #FFFFFF;
}
.sidebar .navigation li ul {
	width: 200px;
	padding-left: 20px;
	list-style: none;
	float: left;
	margin: 5px 0px 10px;
}
.sidebar .navigation li ul > li {
	position: relative;
	width: 200px;
	float: left;
	display: block;
	margin-bottom: 5px;
}
.sidebar .navigation li ul > li a {
	font-size: 14px;
	color: #C5C5C5;
	display: block;
	float: left;
	width: 200px;
	line-height: 16px;
	text-decoration: none;
}
.sidebar .navigation li ul > li a.active,  .sidebar .navigation li ul > li a:hover {
	color: #FFFFFF;
}
/* eof simple navigation */
        
        /* bordered navigation */
        .sidebar .navigation.bordered {
	width: 218px;
	margin: 10px 0px 20px;
	padding: 0px;
	list-style: none;
	display: block;
	float: left;
	border: 1px solid #1A1A1A;
	border-bottom: 0px;
	border-left: 0px;
}
.sidebar .navigation.bordered > li {
	position: relative;
	width: 218px;
	float: left;
	display: block;
}
.sidebar .navigation.bordered > li > a {
	font-size: 16px;
	color: #C9C9C9;
	display: block;
	float: left;
	width: 200px;
	line-height: 16px;
	border-left: 3px solid #111;
	border-bottom: 1px solid #1A1A1A;
	padding: 12px 8px 11px 7px;
	text-decoration: none;
	background: #222222;
	margin: 0px;
}
.sidebar .navigation.bordered > li > a:hover {
	color: #FFF;
}
.sidebar .navigation.bordered > li .open {
	width: 38px;
	height: 39px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #222222;
	border: 1px solid #1A1A1A;
	border-width: 0px 0px 1px 1px;
	cursor: pointer;
	background: url('../img/navb_plus.png') center center no-repeat;
}
.sidebar .navigation.bordered > li .open:hover {
	background: url('../img/navb_plus.png') center center no-repeat #191818;
}
.sidebar .navigation.bordered > li.active .open {
	border-bottom-color: #191818;
	background: url('../img/navb_minus.png') center center no-repeat #191818;
}
.sidebar .navigation.bordered li ul {
	width: 220px;
	float: left;
	display: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.sidebar .navigation.bordered li.active ul {
	display: block;
}
.sidebar .navigation.bordered li ul > li {
	position: relative;
	width: 220px;
	float: left;
	display: block;
	margin: 0px;
}
.sidebar .navigation.bordered li ul > li a {
	font-size: 14px;
	line-height: 16px;
	padding: 10px 8px 9px 17px;
	text-decoration: none;
	display: block;
	float: left;
	border-bottom: 1px solid #1A1A1A;
	width: 190px;
	color: #C9C9C9;
	border-left: 3px solid #222;
}
.sidebar .navigation.bordered li ul > li a:hover,  .sidebar .navigation.bordered li ul > li.active a {
	background: transparent;
	color: #FFF;
}
/* eof bordered navigation */
        
        .sidebar .widget {
	width: 220px;
	float: left;
}
/* eof sidebar */
    

    /* Body */
    .body2 {
	position: relative;
        margin-right: 250px;
	padding: 0px 0px 0px 20px;
}
/* body navigation */
        .body2 .navigation {
	padding: 10px 0px 25px;
	float: right;
	margin: 0px;
	list-style: none;
	display: block;
	position: relative;
}
.body2 .navigation li {
	margin-left: 3px;
	margin-bottom: 3px;
	display: block;
	float: left;
}
.body2 .navigation .button {
	width: 90px;
	height: 90px;
	display: block;
	padding: 5px;
	background: #009AD7;
	text-decoration: none;
	position: relative;
}
.body2 .navigation .button .icon {
	display: block;
	width: 44px;
	height: 44px;
	border: 3px solid #FFF;
	margin: 15px 20px 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
 .body2 .navigation .button .icon [class^="ico-"] {
font-size: 27px;
color: #FFF;
line-height: 45px;
}
.body2 .navigation .button .name {
	font-size: 12px;
	color: #FFF;
	line-height: 13px;
}
.body2 .navigation .button .arrow {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	background: url('../img/arrow_white.png') left top no-repeat;
}
.body2 .navigation .button:hover {
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
}
.body2 .navigation .sub {
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.body2 .navigation .sub li {
	display: block;
	float: left;
	margin-right: 30px;
}
.body2 .navigation .sub li a {
	font-size: 14px;
	color: #4C4C4C;
	text-decoration: none;
	font-weight: 500;
}
.body2 .navigation .sub li a:hover {
	color: #000;
}
.body2 .navigation li.active .arrow {
	background: url('../img/arrow_white_active.png') left top no-repeat;
}
.body2 .navigation li.active .sub {
	display: block;
}
.body2 .navigation .user {
	margin-left: 0px;
	display: block;
	float: left;
	clear: both;
}
.body2 .navigation .user img {
	margin-right: 10px;
	border-left: 3px solid #009AD7;
	float: left;
}
.body2 .navigation .user a {
	display: block;
	float: left;
	text-decoration: none;
}
.body2 .navigation .user a span {
	font-size: 14px;
	color: #333;
	line-height: 16px;
	display: block;
	clear: both;
}
.body2 .navigation .user a .sm {
	font-size: 11px;
	color: #666;
	line-height: 13px;
	display: block;
	clear: both;
}
.body2 .navigation .buttons {
	float: left;
	margin: 5px 0px 0px 0px;
	clear: both;
}
.body2 .navigation .buttons .sbutton {
	width: 30px;
	height: 30px;
	background: #009AD7;
	display: inline-block;
	text-align: center;
	position: relative;
}
.body2 .navigation .buttons .sbutton a {
	color: #FFF;
	padding: 7px 0px;
	width: 30px;
	display: block;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}
 .body2 .navigation .buttons .sbutton a [class^="ico-"] {
font-size: 16px;
color: #FFF;
line-height: 16px;
}
.body2 .navigation .buttons .sbutton.navButton {
	display: none;
}


 /* Body */
    .body {
	position: relative;
	margin-left: 250px;
	padding: 0px 0px 0px 20px;
}
/* body navigation */
        .body .navigation {
	padding: 10px 0px 25px;
	float: right;
	margin: 0px;
	list-style: none;
	display: block;
	position: relative;
}
.body .navigation li {
	margin-left: 3px;
	margin-bottom: 3px;
	display: block;
	float: left;
}
.body .navigation .button {
	width: 90px;
	height: 90px;
	display: block;
	padding: 5px;
	background: #009AD7;
	text-decoration: none;
	position: relative;
}
.body .navigation .button .icon {
	display: block;
	width: 44px;
	height: 44px;
	border: 3px solid #FFF;
	margin: 15px 20px 12px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
 .body .navigation .button .icon [class^="ico-"] {
font-size: 27px;
color: #FFF;
line-height: 45px;
}
.body .navigation .button .name {
	font-size: 12px;
	color: #FFF;
	line-height: 13px;
}
.body .navigation .button .arrow {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	background: url('../img/arrow_white.png') left top no-repeat;
}
.body .navigation .button:hover {
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .9);
}
.body .navigation .sub {
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.body .navigation .sub li {
	display: block;
	float: left;
	margin-right: 30px;
}
.body .navigation .sub li a {
	font-size: 14px;
	color: #4C4C4C;
	text-decoration: none;
	font-weight: 500;
}
.body .navigation .sub li a:hover {
	color: #000;
}
.body .navigation li.active .arrow {
	background: url('../img/arrow_white_active.png') left top no-repeat;
}
.body .navigation li.active .sub {
	display: block;
}
.body .navigation .user {
	margin-left: 0px;
	display: block;
	float: left;
	clear: both;
}
.body .navigation .user img {
	margin-right: 10px;
	border-left: 3px solid #009AD7;
	float: left;
}
.body .navigation .user a {
	display: block;
	float: left;
	text-decoration: none;
}
.body .navigation .user a span {
	font-size: 14px;
	color: #333;
	line-height: 16px;
	display: block;
	clear: both;
}
.body .navigation .user a .sm {
	font-size: 11px;
	color: #666;
	line-height: 13px;
	display: block;
	clear: both;
}
.body .navigation .buttons {
	float: left;
	margin: 5px 0px 0px 0px;
	clear: both;
}
.body .navigation .buttons .sbutton {
	width: 30px;
	height: 30px;
	background: #009AD7;
	display: inline-block;
	text-align: center;
	position: relative;
}
.body .navigation .buttons .sbutton a {
	color: #FFF;
	padding: 7px 0px;
	width: 30px;
	display: block;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}
 .body .navigation .buttons .sbutton a [class^="ico-"] {
font-size: 16px;
color: #FFF;
line-height: 16px;
}
.body .navigation .buttons .sbutton.navButton {
	display: none;
}


/* eof body navigation */
            
        /* body navigation popup */
        .popup {
	width: 380px;
	right: 0px;
	top: 45px;
	background: #FFF;
	position: absolute;
	text-align: left;
	display: none;
	z-index: 100;
	-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.popup.active {
	display: block;
}
.popup .row-form {
	padding: 5px 10px;
	margin-bottom: 0px;
}
.popup .arrow {
	width: 12px;
	height: 12px;
	background: url('../img/popup_arrow.png') left top no-repeat;
	position: absolute;
	right: 10px;
	top: -11px;
}
/* eof body navigation popup */
                
        /* content */
        .body .content {
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height:1000px;
}
/* page header */
            .page-header {
	padding: 0px 0px 10px;
	margin: 0px 0px 20px;
	border-bottom: 1px solid #e0e0e0;
	width: 100%;
	float: left;
}
.page-header .icon {
	float: left;
	display: block;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	border: 3px solid #999;
	padding: 2px;
	margin-top: 7px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}
.page-header .icon span {
	font-size: 24px;
	color: #999;
	line-height: 33px;
}
.page-header h1 {
	font-size: 32px;
	color: #4C4C4C;
	font-weight: normal;
	display: block;
	float: left;
	line-height: 35px;
	padding: 0px;
	margin: 0px;
}
.page-header h1 small {
	font-size: 11px;
	color: #666;
	display: block;
	line-height: 20px;
}
/* eof page header */
            
            /* widgets */
            .body .content .widgets {
	text-align: center;
	position: relative;
}
.body .content .widget {
	padding: 0px;
	height: 110px;
	width: 280px;
	margin-bottom: 20px;
	margin-right: 20px;
	display: inline-block;
}
.body .content .widget .left, .body .content .widget .right {
	height: 60px;
	width: 50%;
	float: left;
	color: #fff;
	text-align: right;
}
.body .content .widget.value .left {
	width: 60%;
	font-size: 80px;
	line-height: 75px;
	text-align: left;
	font-weight: lighter;
}
.body .content .widget.value .right {
	width: 40%;
	font-size: 12px;
	text-align: left;
	line-height: 15px;
}
.body .content .widget.icon .left {
	width: 35%;
	line-height: 90px;
}
.body .content .widget.icon .right {
	width: 65%;
	font-size: 12px;
	color: #FFF;
	color: #fff;
}
.body .content .widget .box90 .chart .left {
	width: 40%;
	line-height: 90px;
	text-align: left;
}
.body .content .widget .box90 .chart .right {
	width: 60%;
	font-size: 12px;
	color: #FFF;
	color: #fff;
	text-align: left;
	line-height: 15px;
}
.body .content .widget .right table {
	text-align: left;
}
.body .content .widget .right table tr td {
	line-height: 12px;
	font-size: 12px;
	padding: 2px 0px 3px;
}
.body .content .widget .right table tr td:last-child {
	text-align: right;
}
.body .content .widget.icon .left .icon {
	width: 80px;
	height: 80px;
	border: 3px solid #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
 .body .content .widget.icon .left .icon [class^="ico-"] {
font-size: 56px;
}
.body .content .widget .bottom {
	width: 100%;
	line-height: 16px;
	margin-top: 4px;
	float: left;
	text-align: left;
	background-image: url(/img/bg_preto2.PNG);
}
.body .content .widget .bottom a {
	display: block;
	float: left;
	width: 100%;
	line-height: 16px;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background: url('../img/arrow_right_white.png') right center no-repeat;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.body .content .widget .bottom a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.body .content .swidget {
	height: 120px;
	width: 120px;
	min-width: 120px;
	margin-bottom: 20px;
	margin-right: 20px;
	display: inline-block;
	color: #FFF;
	position: relative;
	text-decoration: none;
}
.body .content .swidget .icon {
	width: 75px;
	height: 75px;
	border: 3px solid #FFF;
	line-height: 85px;
	margin: 10px 21px 0px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: left;
}
 .body .content .swidget .icon [class^="ico-"] {
font-size: 36px;
color: #FFF;
}
.body .content .swidget > .value {
	width: 120px;
	height: 75px;
	text-align: center;
	font-size: 36px;
	color: #FFF;
	margin-top: 10px;
	float: left;
	line-height: 85px;
}
.body .content .swidget.clean .icon {
	margin-top: 10px;
	padding: 0;
}
.body .content .swidget.clean .epc.mini {
	margin-top: 18px;
}
.body .content .swidget.clean > .value {
	margin-top: 18px;
}
.body .content .swidget .bottom {
	display: block;
	float: left;
	margin: 5px 5px 0px;
	width: 110px;
	text-align: center;
}
.body .content .swidget .bottom .text {
	float: none;
}
.body .content .swidget .bottom .value {
	float: right;
}
/* eof widgets */                        
        
        /* blocks */                
        .body .content .block {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
.body .content .block .head {
	padding: 7px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
.body .content .block .head.blue, .body .content .block .head.dblue, .body .content .block .head.yellow, .body .content .block .head.red,  .body .content .block .head.purple, .body .content .block .head.green, .body .content .block .head.orange {
	padding: 7px 6px 7px 6px;
}
.body .content .block .head .icon {
	height: 20px;
	width: 23px;
	border: 1px solid #444;
	text-align: center;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding-top: 3px;
	line-height: 19px;
}
 .body .content .block .head .icon [class^="ico-"] {
font-size: 16px;
color: #444;
}
.body .content .block .head > .icon {
	margin-right: 3px;
}
.body .content .block .head h2 {
	font-size: 20px;
	color: #4C4C4C;
	line-height: 20px;
	font-weight: normal;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.head h2 {
	font-size: 20px;
	color: #4C4C4C;
	line-height: 20px;
	font-weight: normal;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.body .content .block .head .buttons {
	list-style: none;
	display: block;
	float: right;
	margin: 0px;
	padding: 0px;
}
.body .content .block .head .buttons > li {
	display: block;
	float: left;
	margin-left: 5px;
	position: relative;
}
.body .content .block .head .items {
	position: relative;
	float: right;
	padding: 1px 5px 5px 5px;
}
.body .content .block .head .items .progress.small {
	margin-top: 8px !important;
}
.body .content .block.title .head {
	border-bottom: 1px solid #e0e0e0;
}
.body .content .block .data {
	padding: 10px;
}
.body .content .block .data-fluid {
	padding: 0px;
}
.body .content .block .data.dark, .body .content .block .data-fluid.dark,  .toolbar.dark, .toolbar-fluid.dark {
	background: #EAEAEA;
}
* html .block .data, * html .block .data-fluid, * html .toolbar, * html .toolbar-fluid, * html .wrapper > .body {
	height: 1%;
	overflow: visible;
} /* ie 6 */
*+html .block .data, *+html .block .data-fluid, *+html .toolbar, *+html .toolbar-fluid, *+html .wrapper > .body {
	min-height: 1%;
} /* ie 7 */
.block .data:after, .block .data-fluid:after, .toolbar:after, .toolbar-fluid:after, .wrapper > .body:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
/* eof blocks */
        
            .editor {
	background: #FFF;
}
.loader {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	background: url('../img/wpoint.png') left top repeat;
}
.loader img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
}
.body .content .stat {
	position: relative;
	text-align: left;
	font-size: 11px;
	color: #666;
	line-height: 16px;
	margin: 10px;
}
.body .content .stat span {
	font-size: 40px;
	display: block;
	float: left;
	margin-right: 5px;
	line-height: 32px;
}
/* toolbar */
            .toolbar, .toolbar-fluid {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.toolbar-fluid {
	padding: 0px;
}
.toolbar .pagination {
	margin: 0px;
	line-height: 15px;
	height: 30px;
}
.toolbar .input-append, .toolbar .input-prepend,  .toolbar .input-append button, .toolbar .input-prepend button {
	margin: 0px;
}
.toolbar .left {
	float: left;
	width: 50%;
}
.toolbar .right {
	float: right;
	width: 50%;
}
.toolbar .btn {
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	
}
/* eof toolbar */                
                                            
        /* table */
        .body .content .table {
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 1px 1px;
}
.body .content .table th {
	line-height: 30px;
	background: #E9E9E9;
	padding: 0px 10px;
	margin: 0px;
	font-size: 11px;
	color: #666;
}
.body .content .table td {
	line-height: 12px;
	background: #F9F9F9;
	vertical-align: top;
	font-size: 11px;
	color: #333;
	border-top:0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
 .body .content .table tbody tr:nth-child(2n) td {
background: #F2F2F2;
}
.body .content .table .button {
	width: 38px;
	height: 38px;
	display: block;
	float: left;
	margin-left: 1px;
	text-decoration: none;
}
.body .content .table .button .icon {
	border: 1px solid #FFF;
	height: 22px;
	width: 22px;
	margin: 7px;
	line-height: 24px;
	text-align: center;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
 .body .content .table .button .icon [class^="ico-"] {
color: #FFF;
font-size: 16px;
line-height: 24px;
}
.body .content .table.lcnp tr td:last-child,  .body .content .table.lcnp tr th:last-child {
	padding: 0px;
}
.body .content .table td span.mark {
	color: #999;
	font-size: 11px;
	display: block;
}
.body .content .table td.bl_blue {
	border-left: 3px solid #009AD7;
}
.body .content .table td.bl_green {
	border-left: 3px solid #68AF27;
}
.body .content .table td.bl_red {
	border-left: 3px solid #C22439;
}
.body .content .table.tickets td {
	padding: 5px 10px;
}
.body .content .table.tickets tr td:first-child {
	padding-top: 7px;
}
.body .content .table.table-hover tbody tr:hover td, .body .content .table.table tbody tr.active td {
	background: #ffffcb;
}
.table.images td.info > * {
	display: block;
	width: auto;
	clear: both;
}
.table.images td.info > span {
	font-size: 11px;
	color: #999;
}
/* eof table */
  
    /* datatables */
    .body .content .table thead th.sorting, .body .content .table thead td.sorting {
	background: url('../img/backgrounds/dropdown_arrow.png') right center no-repeat #E9E9E9;
}
.body .content .table thead th.sorting_asc, .body .content .table thead td.sorting_asc {
	background: url('../img/backgrounds/dropdown_arrow_up.png') right center no-repeat #E9E9E9;
}
.body .content .table thead th.sorting_desc, .body .content .table thead td.sorting_desc {
	background: url('../img/backgrounds/dropdown_arrow_down.png') right center no-repeat #E9E9E9;
}
.dataTables_length, .dataTables_info {
	float: left;
}
.dataTables_filter, .dataTables_paginate {
	float: right;
}
.dataTables_length {
	position: relative;
	padding: 5px;
}
.dataTables_length label {
	font-size: 11px;
	margin-bottom: 0px;
}
.dataTables_length select {
	display: inline-block;
	width: auto;
}
.dataTables_filter {
	position: relative;
	padding: 5px;
}
.dataTables_filter label {
	font-size: 11px;
	margin-bottom: 0px;
}
.dataTables_filter input[type='text'] {
	display: inline-block;
	width: auto;
	height: 26px;
	line-height: 14px;
}
.dataTables_info {
	font-size: 11px;
	color: #333;
	line-height: 26px;
	padding: 5px;
}
.paginate_button,  .paginate_disabled_previous,  .paginate_disabled_next,  .paginate_enabled_next,  .paginate_active,  .paginate_enabled_previous {
	float: left;
	border: 2px solid #FFF;
	line-height: 14px;
	font-size: 11px;
	color: #333;
	display: block;
	padding: 4px 5px;
	margin: 5px 5px 5px 0px;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	background-color: #E0E0E0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.paginate_enabled_next,  .paginate_enabled_previous,  .paginate_active, .paginate_active:hover,  .paginate_button, .paginate_button:hover,  .paginate_enabled_next:hover,  .paginate_enabled_previous:hover {
	cursor: pointer;
	text-decoration: none;
}
.paginate_enabled_next:hover,  .paginate_active, .paginate_active:hover,  .paginate_button:hover,  .paginate_enabled_previous:hover {
	color: #333;
	-moz-box-shadow: inset 0 1px 3px #AAA;
	-webkit-box-shadow: inset 0 1px 3px #AAA;
	box-shadow: inset 0 1px 3px #AAA;
}
.paginate_button_disabled, .paginate_button_disabled:hover,  .paginate_disabled_previous, .paginate_disabled_previous:hover,  .paginate_disabled_next, .paginate_disabled_next:hover {
	color: #999;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}
.dataTables_wrapper table {
	float: left;
}
/* eof datatables */        
        
    /* messages */
        .body .content .block .messages {
	position: relative;
}
.body .content .block .messages .item {
	width: 90%;
	padding: 5px;
	position: relative;
	margin: 10px 0px 0px;
	float: left;
}
.body .content .block .messages .item.out {
	float: right;
	margin: 10px 0px 10px;
}
.body .content .block .messages .item .arrow {
	border-color: transparent transparent #009AD7 #009AD7;
	border-style: solid;
	border-width: 5px;
	width: 0px;
	height: 0px;
	position:absolute;
	left: 10px;
	top: -10px;
}
.body .content .block .messages .item.out .arrow {
	left: auto;
	top: auto;
	right: 10px;
	bottom: -10px;
	border-color: #005683 #005683 transparent transparent;
}
.body .content .block .messages .item .text {
	font-size: 12px;
	color: #FFF;
	line-height: 13px;
}
.body .content .block .messages .item .date {
	font-size: 12px;
	color: #FFF;
	text-align: right;
	opacity: 0.6;
	filter: alpha(opacity=60);
	line-height: 13px;
}
/* eof messages */
    
    .label {
	font-size: 12px;
	color: #FFF;
	font-weight: normal;
	line-height: 20px;
}
/* select2 */    
    .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-drop.select2-drop-above,  .select2-container-multi .select2-choices, .select2-search input, .select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices,  .select2-container .select2-choice div {
	border-color: #DDD;
	background: #FFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.select2-dropdown-open .select2-choice div {
	border-left: 1px solid #CCC;
}
.select2-search {
	margin-top: 3px;
}
.select2-drop.select2-drop-above {
	border-bottom: 1px solid #CCC;
	-moz-box-shadow: 0px -1px 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, .15);
	box-shadow: 0px -1px 3px rgba(0, 0, 0, .15);
}
.select2-container-active .select2-choice,  .select2-container-multi.select2-container-active .select2-choices {
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
	border-color: #CCC;
}
.select2-container-multi .select2-choices .select2-search-choice {
	background: #009AD7;
	border: 1px solid #009AD7;
	color: #FFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.select2-container .select2-choice div {
	background: #EEE;
	width: 26px;
}
.select2-container .select2-choice div b {
	background-position: 5px 1px;
}
.select2-dropdown-open .select2-choice div b {
	background-position: -13px 1px
}
.select2-container .select2-choice span {
	padding-right: 31px;
}
.select2-results .select2-highlighted {
	background: #009AD7;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.select2-search-choice-close {
	top: 3px;
}
/* eof select2*/

/* Tagsinput */
div.tagsinput {
	padding: 0px;
}
div.tagsinput span.tag {
	margin: 3px;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 14px;
	border: 1px solid #009AD7;
	background: #009AD7;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
div.tagsinput span.tag a {
	color: #FFF;
}
div.tagsinput span.tag a:hover {
	color: #333;
}
div.tagsinput div {
	line-height: 28px;
}
div.tagsinput div input {
	line-height: 20px;
	height: 20px;
	font-size: 11px;
	margin: -2px 0px 0px;
	padding: 0px;
	border: 0px;
}
/* eof Tagsinput */

/* spiner */
.ui-spinner {
	padding-right: 20px;
	display: block;
	position: relative;
}
.ui-spinner-up {
	position: absolute;
	right: 0px;
	top: 1px;
	background: #EEE;
	border: 1px solid #DDD;
	height: 13px;
	padding-left: 1px;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 2px #FFF;
	-webkit-box-shadow: inset 0px 1px 2px #FFF;
	box-shadow: inset 0px 1px 2px #FFF;
}
.ui-spinner-down {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: #EEE;
	border: 1px solid #DDD;
	border-top: 0px;
	height: 14px;
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 2px #FFF;
	-webkit-box-shadow: inset 0px 1px 2px #FFF;
	box-shadow: inset 0px 1px 2px #FFF;
}
.ui-spinner-up .ui-icon {
	width: 16px;
	height: 13px;
}
.ui-spinner-down .ui-icon {
	width: 16px;
	height: 10px;
	padding-right: 1px;
}
/* eof spinner */

/* Row form - new */
.row-fluid {
	float: left;
}
/* set clear fix to row-form element */
        * html .row-form {
	height: 1%;
	overflow: visible;
} /* ie 6 */
*+html .row-form {
	min-height: 1%;
} /* ie 7 */
.row-form:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
/* eof set */
        
    .row-form {
	vertical-align: baseline;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 30px;
}
 .row-form > [class^="span"] {
color: #333;
line-height: 30px;
}
input[type="text"], input[type="password"], textarea, select {
	border-color: #CCC;
	width: 100%;
	font-size: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #4C4C4C;
	height: 27px;
	margin-bottom: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input:focus, textarea:focus, select:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	outline: 0 !important;
	border-color: #AAA !important;
}
select[multiple] {
	min-height: 100px;
}
textarea {
	min-height: 50px;
}
.row-form .input-prepend, .row-form .input-append {
	margin-bottom: 0px !important;
}
.row-form .input-prepend .add-on, .row-form .input-append .add-on {
	font-size: 11px;
	line-height: 20px;
}
.input-append .add-on, .input-prepend .add-on {
	border: 0px !important;
	padding: 4px 7px 6px;
	text-shadow: none;
	background: #009AD7;
	line-height: 25px;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}
.input-append input[type="text"] {
	border-right: 0px;
}
.input-prepend input[type="text"] {
	border-left: 0px;
}
 .add-on[class^='ico-'] {
color: #FFF;
text-shadow: none;
}
.input-prepend .btn, .input-append .btn {
	padding: 5px 12px;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}
.btn-group > .btn {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}
.row-form .input-prepend input[type="file"], .row-form .input-append input[type="file"] {
	width: 0px;
	left: -9999px;
	position: absolute;
	visibility: hidden;
}
 .row-form [class^="span"] > div {
margin-bottom: 10px;
}
 .row-form [class^="span"] > span.bottom,  .row-form [class^="span"] > span.top {
font-size: 11px;
color: #999;
line-height: 14px;
display: block;
margin-top: 5px;
}
 .row-form [class^="span"] > span.top {
margin-bottom: 5px;
margin-top: 0px;
}
 .row-form [class^="span"] > span.top.title,  .row-form [class^="span"] > span.bottom.title {
color: #333;
}
        
        
            /* highlights */
            .row-form.error [class^="span"] {
color: #C22439;
}
.row-form.error input[type="text"] {
	border-color: #C22439;
}
 .row-form.error [class^="span"] > span {
color: #C22439;
}
 .row-form.warning [class^="span"] {
color: #D53F26;
}
.row-form.warning input[type="text"] {
	border-color: #D53F26;
}
 .row-form.warning [class^="span"] > span {
color: #D53F26;
}
 .row-form.success [class^="span"] {
color: #68AF27;
}
.row-form.success input[type="text"] {
	border-color: #68AF27;
}
 .row-form.success [class^="span"] > span {
color: #68AF27;
}
 .row-form.info [class^="span"] {
color: #009AD7;
}
.row-form.info input[type="text"] {
	border-color: #009AD7;
}
 .row-form.info [class^="span"] > span {
color: #009AD7;
}
/* eof highlights */

        .row-form input.input-mini {
	width: 20%;
}
.row-form input.input-small {
	width: 30%;
}
.row-form input.input-medium {
	width: 40%;
}
.row-form input.selectSivis{
	width: 40%;
	}
.row-form input.input-large {
	width: 50%;
}
.row-form input.input-xlarge {
	width: 70%;
}
.row-form input.input-xxlarge {
	width: 80%;
}
.row-form input.input-huge {
	width: 90%;
}
/* eof row form */    
    
    /* Buttons */    
    .btn, .btn-group .btn,  .btn-group > .btn:first-child,  .btn-group > .btn:last-child {
	font-size: 11px;
}
.btn.btn-large {
	font-size: 12px;
}
 .btn [class^='ico'] {
margin-top: 0px;
}
.btn-group-vertical .btn {
	margin-bottom: 0px;
}
.btn-group > .btn + .btn {
	margin-left: 0px;
}
.btn.btn-block {
	margin-bottom: 10px;
}
.btn-group > .dropdown-menu {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color: #DDD;
	font-size: 11px;
	padding: 0px;
}
.dropdown-menu .divider {
	background-color: #F1F1F1;
	margin: 5px 0px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background: #008DC4;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* eof Buttons */
    
    /* typography */
    .typography {
	font-size: 12px;
	color: #333;
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
	color: #1A1A1D;
}
.typography blockquote {
	font-size: 12px;
	border-color: #333;
}
.typography blockquote p {
	font-size: 12px;
	line-height: 16px;
}
.typography dl dt {
	color: #333;
}
.typography img {
	margin: 5px 10px 5px;
}
/* eof typography */    
    
    /* alerts */
    .alert {
	margin-bottom: 10px;
	cursor: pointer;
	border: 0;
	text-shadow: none;
	color: #FFF;
	background: #009AD7;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.block .alert, .block-fluid .alert {
	border: 0px;
	margin: 3px 0px;
}
.alert.alert-block {
	padding: 8px 35px 8px 14px;
}
.alert.alert-error {
	background: #C22439;
}
.alert.alert-success {
	background: #68AF27;
}
.alert.alert-info {
	background: #005683;
}
/* eof alerts */  
    
    /* sortable blocks */
    .sortablePlaceholder {
	border: 1px dashed #333;
	height: 30px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* eof sortable blocks */
    
    /* accordion */
    .accordion {
	border: 1px solid #DDD;
}
.ui-accordion .ui-accordion-header {
	background-color: #F2F2F2;
	padding: 8px 10px 8px 30px;
	font-size: 12px;
	color: #333;
	font-weight: normal;
	border: 0px;
	border-bottom: 1px solid #FFF;
	text-shadow: 1px 1px 0px #FFF;
}
.ui-accordion .ui-state-hover {
	background-color: #EEE;
}
.ui-accordion .ui-widget-content {
	padding: 10px 5px;
	background: #FFF;
}
.ui-accordion .ui-widget-content:last-child {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.ui-accordion .ui-accordion-header:last-child {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/* eof accordion */
    
    /* tabs */
    .tabs {
	border: 1px solid #DDD;
	border-top: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-default.ui-tabs-active {
	background-color: #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}
.ui-tabs .ui-tabs-nav .ui-state-default.ui-state-hover {
	background-color: #EEE;
}
.ui-tabs .ui-tabs-nav li a {
	color: #40516b;
	font-weight: bold;
	text-shadow: 1px 1px 0px #FFF;
}
/* eof tabs */
    
    /* simple list */
        .sList {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.sList li {
	display: block;
	padding: 8px 10px 6px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
	cursor: pointer;
}
.sList li:hover {
	background-color: #F9F9F9;
}
.sList .placeholder {
	background-color: #fff8c4;
	height: 20px
}
/* eof simple list */     
    
    /* Tabbable */
    .tabbable {
	border: 0px;
}
.nav-tabs {
	margin-bottom: 5px;
}
.nav-tabs > li > a {
	font-weight: normal;
	color: #333;
	font-size: 12px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background: #F6F6F6;
}
.tabs-below > .nav-tabs {
	margin-bottom: 0px;
}
.tabs-below > .nav-tabs > li > a {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.tabs-left > .nav-tabs {
	margin-right: 0px;
}
.tabs-left > .nav-tabs > li > a {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.tabs-right > .nav-tabs {
	margin-left: 0px;
}
.tabs-right > .nav-tabs > li > a {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.tab-content {
	padding: 5px 10px;
	font-size: 12px;
}
/* eof tabbable */    
    
    /* progress */
    .progress {
	margin: 5px 0px !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #EEE;
	border: 1px solid #D9D9D9;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress.small {
	height: 5px;
}
.progress .bar {
	-moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	margin-bottom: 1px;
}
/* eof progress */    
    
    /* popover */
    .popover {
	border-color: #CCC;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.popover-title {
	background: #FFF;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
/* popover */    
    
    /* Modal */
    .modal {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #CCC;
}
.modal-header {
	box-shadow: 0 1px 0 #fff;
	background: #FFF;
	-webkit-box-shadow: inset 0 1px white;
	-moz-box-shadow: inset 0 1px #fff;
	box-shadow: inset 0 1px white;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 10px 10px 7px 10px;
}
.modal-header h3 {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 1px white;
	line-height: 20px;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.25;
	filter: alpha(opacity=25);
	background: #333;
}
.modal .block, .modal .block-fluid {
	margin-bottom: 0px;
}
.modal-header .close {
	margin-top: 0px;
}
.modal-footer {
	background: #FFF;
}
.modal-footer .btn {
	margin-bottom: 0px;
}
/* eof modal */    
    
/* icons list */

    .the-icons {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
	margin: 0px 10px;
}
.the-icons li {
	padding: 8px 5px;
	width: 150px;
	display: block;
	float: left;
	margin: 1px 0px;
	height: 20px;
}
/* eof icons list */    

.errorContainer {
	color: #333;
	text-align: center;
	width: 300px;
	margin: 50px auto 0px;
}
.errorContainer h1 {
	font-size: 120px;
	font-weight: normal;
	line-height: 120px;
}
.errorContainer h2 {
	font-size: 20px;
	font-weight: normal;
	color: #666;
	text-transform: uppercase;
	border-bottom: 1px solid #CCC;
}
.head ul.buttons > li.active > .dropdown-menu {
	display: block;
	left: auto;
	right: -1px;
	border-color: #DDD;
	font-size: 11px;
	padding: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.head ul.buttons > li.active > .dropdown-menu li a {
	color: #333 !important;
}
.head ul.buttons > li.active > .dropdown-menu li a:hover {
	color: #FFF !important;
}
.login {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 40%;
	margin-top: -125px;
	background-color: #FFF;
	padding: 15px;
	border: 1px solid #D6D6D6;
	background-image: url(images/bgBadyLogin.PNG);
}
.login .row-form {
	padding: 5px 0px;
	width: 300px;
}
.icon-arrow-back {
	background: url('../img/back_dark.png') left top no-repeat !important;
}
.icon-arrow-back.icon-white {
	background: url('../img/back.png') left top no-repeat !important;
}
.icon-arrow-next {
	background: url('../img/next_dark.png') left top no-repeat !important;
}
.icon-arrow-next.icon-white {
	background: url('../img/next.png') left top no-repeat !important;
}
/* faq */
    .faq {
	position: relative;
}
.faq .item {
	border: 1px solid #DDD;
	border-top: 1px solid #FFF;
	padding: 10px;
	background: #F5F5F5;
}
.faq .item:first-child {
	border-top: 1px solid #DDD;
}
.faq .item:last-child {
	border-bottom: 1px solid #DDD;
}
.faq .item .title {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	display: block;
	cursor: pointer;
	padding-left: 22px;
	background: url('../img/next_dark.png') left center no-repeat;
}
.faq .item .title:hover {
	text-decoration: underline;
}
.faq .item .text {
	font-size: 12px;
	color: #333;
	padding-left: 25px;
	display: none;
}
.faq .item .text p {
	margin: 5px 0px
}
/* eof faq */    
/* listing */
.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	border: 1px solid #E5E5E5;
}
.list li {
	display: block;
	padding: 5px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E5E5E5;
}
.list li:last-child {
	border-bottom: 0px;
}
.list li .title {
	float: left;
	padding: 0px 5px 0px 21px;
}
.list li .title a {
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.list li .title p {
	margin: 0px;
	line-height: 14px;
	display: block;
}
.list li .actions {
	float: right;
	margin-top: 2px;
}
/* eof listing */

/* invoice */
    .invoice {
	font-size: 12px;
	color: #333;
}
.invoice h3, .invoice h4 {
	font-size: 20px;
	line-height: 34px;
	color: #333;
	border-bottom: 1px solid #DDD;
}
.invoice p {
	margin: 3px 5px;
}
.invoice em {
	font-size: 10px;
	font-style: normal;
	color: #CCC;
}
.invoice .total {
	float: right;
	padding-top: 20px;
}
.invoice .highlight {
	padding: 5px;
	background: #009AD7;
	border-top: 1px solid #CCC;
	color: #fff;
}
.invoice .highlight em {
	color: #F1F1F1;
}
.invoice .table th {
	background: #009AD7 !important;
	color: #fff !important;
}
/* eof invoice */

/* sGallery */
    .sGallery {
	position: relative;
	padding-top: 0px !important;
}
.sGallery .item {
	width: 150px;
	height: 94px;
	border: 3px solid #F1F1F1;
	float: left;
	overflow: hidden;
	margin: 10px 10px 0px 0px;
	position: relative;
}
.sGallery .item a {
	display: block;
	width: 150px;
	text-align: center;
	position: relative;
}
.sGallery .item a img {
	height: auto;
	max-width: none;
	vertical-align: baseline;
	border: 0;
}
.sGallery .item ul.controls {
	position: absolute;
	right: -150px;
	top: 0px;
	margin: 0px;
	padding: 5px;
	list-style: none;
	height: 84px;
	background-color: rgba(255, 255, 255, .8);
}
.sGallery .item ul.controls li {
	color: #333;
	display: block;
	float: left;
	clear: both;
	width: 75px;
}
.sGallery .item ul.controls li a {
	display: block;
	float: left;
	text-align: left;
	padding: 0px;
	margin: 0px;
	color: #333;
	width: auto;
	text-decoration: none;
}
.sGallery .item ul.controls li a:hover {
	color: #111;
}
 .sGallery .item ul.controls li [class^=icon] {
display: block;
float: left;
margin-top: 3px;
margin-right: 5px;
}
/* eof sGallery */


/* ~GALLERY~ */
.data.gallery a, .data-fluid.gallery a {
	display: inline-block;
}
.data.thumbs .thumbnail, .data-fluid.thumbs .thumbnail {
	width: 200px;
	display: block;
	float: left;
	padding: 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.data.thumbs .thumbnail h3, .data-fluid.thumbs .thumbnail h3 {
	line-height: 30px;
	font-size: 20px;
	font-weight: normal;
}
.data.thumbs .thumbnail > a, .data-fluid.thumbs .thumbnail > a {
	width: 210px;
	display: block;
	text-align: center;
}
/* ~GALLERY~ */

/* pluploader */
    .plupload .plupload_header {
	display: none;
}
.plupload_container {
	padding: 0px;
}
.plupload_filelist_header, .plupload_filelist_footer {
	background-color: #F5F5F5;
}
.plupload_scroll .plupload_filelist {
	background-color: #FFF;
}
