.label, .dblue{background: #005683 !important;}
.label-info, .badge-info, .blue{background: #009AD7 !important;}
.label-warning, .badge-warning, .yellow{background: #FFAA31 !important;}
.label-success, .badge-success, .green{background: #68AF27 !important;}
.label-azulMedio, .badge-azulMedio, .azulMedio{background: #28aedd !important;}
.label-azulEscuro, .badge-azulEscuro, .azulEscuro{background: #1e6a92 !important;}
.label-Vermelho, .badge-Vermelho, .Vermelho{background: #d64830 !important;}
.label-important, .label-important, .red{background: #C22439 !important;}

.purple{background: #673499 !important;}
.orange{background: #D53F26 !important;}

.cblue{color: #009AD7 !important;}
.cyellow{color: #FFAA31 !important;}
.cgreen{color: #68AF27 !important;}
.cred{color: #C22439 !important;}
.cdblue{color: #005683 !important;}
.cpurple{color: #673499 !important;}
.corange{color: #D53F26 !important;}

.blblue{border-left-color: #009AD7 !important;}
.blyellow{border-left-color: #FFAA31 !important;}
.blgreen{border-left-color: #68AF27 !important;}
.blred{border-left-color: #C22439 !important;}
.bldblue{border-left-color: #005683 !important;}
.blpurple{border-left-color: #673499 !important;}
.blorange{border-left-color: #D53F26 !important;}

/*.block .head.blue h2, .block .head.yellow h2, .block .head.green h2, .block .head.red h2,
.block .head.dblue h2, .block .head.purple h2, .block .head.orange h2{text-shadow: 0px 0px 1px rgba(0,0,0,0.2);}*/
.block .head.blue *, .block .head.yellow *, .block .head.green *, .block .head.red *,
.block .head.dblue *, .block .head.purple *, .block .head.orange *{color: #FFF !important; border-color: #FFF !important;}

.btn{-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; border: 0px; background: #009AD7; color: #F9F9F9; text-shadow: none; margin-bottom: 3px;}
    .btn:hover,.btn-primary:active,.btn[disabled],.btn.disabled{background: #008DC4; color: #FFF;}
    
.btn-primary{background: #005683;}
    .btn-primary:hover,.btn-primary:active,.btn-primary.active{background: #00486F;}
.btn-info{background: #FFAA31;}
    .btn-info:hover,.btn-info:active,.btn-info.active{background: #FF990F;}
.btn-success{background: #68AF27;}
    .btn-success:hover,.btn-success:active,.btn-success.active{background: #5A9922;}
.btn-warning{background: #D53F26;}
    .btn-warning:hover,.btn-warning:active,.btn-warning.active{background: #CC3E24;}
.btn-danger{background: #C22439;}
    .btn-danger:hover,.btn-danger:active,.btn-danger.active{background: #AA2031;}
.btn-inverse{background: #222; }
    .btn-inverse:hover,.btn-inverse:active,.btn-inverse.active{background: #1A1A1D;}    
.btn-link{background: transparent; color: #333;}    
    .btn-link:hover,.btn-link:active,.btn-link.active{background: transparent; color: #333;}

.btn.disabled,.open .btn.dropdown-toggle{background-color: #008DC4 !important;}   
.btn.btn-primary.disabled,.open .btn-primary.dropdown-toggle{background-color: #00486F !important;}
.btn.btn-info.disabled,.open .btn-info.dropdown-toggle{background-color: #FF990F !important;}
.btn.btn-success.disabled,.open .btn-success.dropdown-toggle{background-color: #5A9922 !important;}
.btn.btn-warning.disabled,.open .btn-warning.dropdown-toggle{background-color: #CC3E24 !important;}
.btn.btn-danger.disabled,.open .btn-danger.dropdown-toggle{background-color: #AA2031 !important;}
.btn.btn-inverse.disabled,.open .btn-inverse.dropdown-toggle{background-color: #1A1A1D !important;}
.btn.btn-link.disabled,.open .btn-link.dropdown-toggle{background-color: transparent !important;}