#tblItensPag td{
    vertical-align: middle;
}
.dataTables_scrollHeadInner{
    width: 100% !important;
}
.dataTables_scrollHeadInner table.dataTable.no-footer{
    width: 97% !important;
}
.dataTables_processing {
    position: fixed;
    top: 50%;
    left: calc(50% + 125px);
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
} 
.ui-autocomplete li a {
    /*font-size: 18px;*/
}
form #txtDCCNumCartao {
    padding-left: 54px;
    background-image: url(../../../img/card.png);
    background-size: 100px 391px;
    background-repeat: no-repeat;
    background-position: 0 -114px;
}
form #txtDCCNumCartao.amex {
    background-position: 0 -59px;
}
form #txtDCCNumCartao.diners_club_carte_blanche {
    background-position: 0 -87px;
}
form #txtDCCNumCartao.diners_club_international {
    background-position: 0 -87px;
}
form #txtDCCNumCartao.visa_electron {
    background-position: 0 -186px;
}
form #txtDCCNumCartao.visa {
    background-position: 0 -150px;
}
form #txtDCCNumCartao.mastercard {
    background-position: 0 -223px;
}
form #txtDCCNumCartao.maestro {
    background-position: 0 -259px;
}
form #txtDCCNumCartao.banescard {
    background-position: 0px -355px;
}
form #txtDCCNumCartao.discover {
    background-position: 0 -295px;
}
form #txtDCCNumCartao.elo {
    background-position: 0 -30px;
}
form #txtDCCNumCartao.aura {
    background-position: 0 -1px;
}
form #txtDCCNumCartao.hiper {
    background-position: 0 -324px;
}
.etapa {
    float: left;
    padding: 10px;
    color: #95A5A6;
    cursor: pointer;
    background: #E5E5E5;
    width: calc(25% - 20px);
}
.etapa:first-child {
    border-top-left-radius: 31px;
    border-bottom-left-radius: 31px;
}
.etapa:last-child {
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
}
.etapa.ativa {
    color: #FFF !important;
    background: #26C281 !important;
}
.etapa .numero {
    float: left;
    width: 42px;
    margin: auto;
    color: #E5E5E5;
    font-size: 26px;
    background: #FFF;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
}
.ativa .numero {
    color: #26C281 !important;
    background: #FFF !important;
}
.etapa .texto {
    font-size: 13px;
    margin-top: 3px;
    padding-left: 50px;
}
.etapa .subtxt {
    font-size: 11px;
    padding-left: 50px;
}        
#historico th {
    padding: 0 5px;
}
input[type="search"]{
    width: inherit;
}
.error { 
    border-color: #F70202; 
}